{% load static %}

<section class="service-area section-gap" id="service">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-8 pb-40 header-text">
          <h1>Alguns Recursos que nos Tornam Únicos</h1>
          <p>
            Quem ama sistemas ecológicos vai adorar nossos isqueiros.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="single-service">
            <h4><span class="lnr lnr-user"></span>Técnicos Especializados</h4>
            <p>
              Nossa equipe de especialistas garante que cada isqueiro seja cuidadosamente verificado e testado antes do envio.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-service">
            <h4><span class="lnr lnr-license"></span>Serviço Profissional</h4>
            <p>
              Oferecemos um serviço profissional desde o momento em que você faz o pedido até a entrega do isqueiro em suas mãos.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-service">
            <h4><span class="lnr lnr-phone"></span>Excelente Suporte</h4>
            <p>
              Nosso suporte ao cliente está sempre disponível para ajudá-lo com qualquer dúvida ou preocupação sobre seu isqueiro.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-service">
            <h4><span class="lnr lnr-rocket"></span>Habilidades Técnicas</h4>
            <p>
              Utilizamos tecnologia de ponta para garantir a qualidade e eficiência de nossos isqueiros de plasma.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-service">
            <h4><span class="lnr lnr-diamond"></span>Altamente Recomendado</h4>
            <p>
              Nossos isqueiros são altamente recomendados por sua qualidade, confiabilidade e preço acessível.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-service">
            <h4><span class="lnr lnr-bubble"></span>Avaliações Positivas</h4>
            <p>
              Nossos clientes adoram nossos isqueiros e deixam avaliações positivas sobre sua experiência de compra e uso.
            </p>
          </div>
        </div>
      </div>
    </div>
</section>
