{% load static %}

<section class="video-sec-area section-gap" id="about">
  <div class="container">
      <div class="row justify-content-center align-items-center ">
          <div class="col-lg-6 video-left">
              <h6>Isqueiro Metálico de Plasma sem Chama Elétrico À-Prova-de-Vento de Duplo Arco</h6>
              <h1>Conheça o Futuro da Ignição</h1>
              <p><span>Estilo, Praticidade e Segurança</span></p>
              <p>O Isqueiro Metálico de Plasma de Duplo Arco oferece uma ignição sem chama, perfeita para todas as suas necessidades de ignição. Feito com material durável e resistente ao vento, este isqueiro elétrico é recarregável via USB para um uso econômico e amigável ao meio ambiente. Com seu sensor de toque intuitivo, você pode acender facilmente seu cigarro, vela ou fogão a gás. O elegante display de LED mantém você informado sobre a energia restante. Não apenas um isqueiro, mas uma afirmação de estilo e funcionalidade.</p>
              <a class="primary-btn" href="#">Adquira o Seu Agora</a>
          </div>
          <div class="col-lg-6 video-right justify-content-center align-items-center d-flex">
              <div class="overlay overlay-bg"></div>
              <a class="play-btn" href="https://video.cdn.aliexpress-media.com/ae_sg_gmc/video_target/gv8f-069351d3-a1aafead-8f03d7c3-380d/trans/1dff6484-95d1-4bf5-a8f6-59c703e1659e-hd.mp4"><img class="img-fluid"
                      src="{% static 'img/play-icon.png' %}" alt></a>
          </div>
      </div>
  </div>
</section>
