{% load static %}

<section class="home-about-area">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 no-padding home-about-left">
                <img class="img-fluid" src="{% static 'img/about-img2.png' %}" alt="Imagem de Isqueiro">
            </div>
            <div class="col-lg-6 no-padding home-about-right">
                <h1>Conectado Globalmente <br>
                    por uma Grande Rede</h1>
                <p>
                    <span>Estamos aqui para ouvir você e entregar excelência</span>
                </p>
                <p>
                    Nosso Isqueiro de Plasma de Duplo Arco é a escolha ideal para quem busca praticidade, segurança e estilo. Feito com materiais de alta qualidade, é recarregável via USB e possui um design elegante. Com a nossa grande rede de distribuição, estamos prontos para levar essa inovação até você.
                </p>
                <a class="text-uppercase primary-btn" href="#">Detalhes</a>
            </div>
        </div>
    </div>
</section>
