{% load static %}

<section class="top-course-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-10">
                <div class="title text-center">
                    <h1 class="mb-10">Os Melhores Isqueiros Para Você</h1>
                    <p>Para aqueles que estão extremamente apaixonados por um sistema ecologicamente amigável.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-3 course-left">
                <div class="single-course">
                    <span class="lnr lnr-rocket"></span>
                    <a href="#">
                        <h4>Alta Performance</h4>
                    </a>
                    <p>
                        Conheça nosso Isqueiro de Plasma de Duplo Arco, projetado para fornecer uma ignição sem chama e confiável sempre que você precisar.
                    </p>
                </div>
                <div class="single-course">
                    <span class="lnr lnr-cog"></span>
                    <a href="#">
                        <h4>Funcionalidade Avançada</h4>
                    </a>
                    <p>
                        Com design moderno e funcional, nosso isqueiro oferece praticidade e segurança em um único produto.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 course-middle">
                <img class="img-fluid mx-auto d-block" src="{% static 'img/c2.png' %}" alt="Isqueiro de Plasma">
            </div>
            <div class="col-lg-3 course-right">
                <div class="single-course">
                    <span class="lnr lnr-apartment"></span>
                    <a href="#">
                        <h4>Estilo Elegante</h4>
                    </a>
                    <p>
                        Nosso isqueiro é feito com materiais de alta qualidade, garantindo durabilidade e elegância em cada uso.
                    </p>
                </div>
                <div class="single-course">
                    <span class="lnr lnr-phone"></span>
                    <a href="#">
                        <h4>Conforto e Praticidade</h4>
                    </a>
                    <p>
                        Recarregável via USB e com sensor de toque, acender nunca foi tão fácil e conveniente.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
