{% extends "base/base.html" %}
{% load static %}

{% block content %}
<style>
    body, html {
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form-container {
        width: 100%;
        max-width: 400px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        background-color: #fff;
        margin-top: 20vh; /* Espaço do topo equivalente a 20% da altura da tela */
        text-align: center;
    }
</style>

<div class="form-container">
    <h2>Senha Alterada com Sucesso</h2>
    <p>Sua senha foi alterada com sucesso.</p>
    <a href="{% url 'login' %}">Voltar ao login</a>
</div>
{% endblock %}
