{% load static %}
<!DOCTYPE html>
<html lang="pt-br" class="no-js">

{% load static %}
<!DOCTYPE html>
<html lang="pt-br" class="no-js">

    <head>

        <!-- Meta Tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Encontre os melhores isqueiros de plasma duplo arco. Isqueiros USB recarregáveis, à prova de vento, com sensor de toque e muito mais.">
        <meta name="keywords" content="isqueiro, isqueiro de plasma, isqueiro duplo arco, isqueiro elétrico, isqueiro à prova de vento, isqueiro recarregável, isqueiro USB">
        <meta name="author" content="Seu Nome ou Nome da Empresa">

        <!-- Título da Página -->
        <title>Isqueiro Plasma Duplo Arco - Encontre os melhores isqueiros aqui</title>

        <!-- Ícone da Página -->
        <link rel="shortcut icon" href="{% static 'img/fav.png' %}">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>

    <body>

        {% if site_type == 'landing_page' %}
        {% include "landing/partials/header.html" %}
        {% endif %}
        {% if site_type == 'portfolio' %}
        {% include "portfolio/partials/header.html" %}
        {% endif %}
        {% if site_type == 'agency' %}
        {% include "agency/partials/header.html" %}
        {% endif %}

        {% block content %}
        {% endblock content %}

    </body>

</html>