{% extends "base/base.html" %}
{% load static %}

{% block content %}

  <!-- banner-area -->
  {% include "landing/partials/banner-area.html" %}

  <!-- video-area -->
  {% include "landing/partials/video-area.html" %}

  <!-- top-course-area -->
  {% include "landing/partials/top-course-area.html" %}

  <!-- home-about-area -->
  {% include "landing/partials/home-about-area.html" %}

  <!-- service-area -->
  {% include "landing/partials/service-area.html" %}

  <!-- unique-feature-area
  {% include "landing/partials/unique-feature-area.html" %} -->

  <!-- review-area -->
  {% include "landing/partials/review-area.html" %}

  <!-- footer-area -->
  {% include "landing/partials/footer.html" %}

  {% endblock content %}